*{
margin: 0%;
padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    
}

#header{
    width: 100%;
    height: 13%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo{
    height: 70%;
    margin: 30px;
}
#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.texts{
    color: blue;
    margin: 10px;
    display: flex;
}
#contactDetails{
    
   
    font-weight: lighter;
}
.icons{
   padding: 10px;
   border-radius: 50%;
}
.icons:hover{
    background-color: lightblue;
}
#login{
    border-radius: 50px;
    display: flex;
    padding: 10px;
}
#login:hover{
    background-color: lightblue;
}
#try{
    padding: 10px 20px;
    background-color: green;
    display: flex;
    color: white;
}
#try:hover{
    background-color: #002300;
}
#Fakeheader{
    height: 13% ;
    width: 100%;
    background-color: yellow;
}
#page1{
    width: 100%;
    height: 87%;
    background-color: white;
}
#Strip{
    background-color: rgb(0, 0, 73);
    width: 100%;
    height: 8%;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
#Strip u{
    font-weight: lighter;
    margin-left: 20px;
}
#Content{
    width: 100%;
    height: 76%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#box1{
    height: 90%;
    width: 47%;
    background-color: white;
}
#box2{
    height: 90%;
    width: 47%;
}
#box2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#Heading{
    width: 100%;
    height: 16%;
    color: rgb(1, 1, 91);
    align-items: center;
    display: flex;
    justify-content: center;
    
}
#Heading h1{
    font-weight: 600;
}
#box1 h1{
    font-weight: 600;
    color: rgb(0, 0, 45);
    font-size: 50px;
    margin: 30px 10px;
}
#box1 p{
    margin: 30px 10px;
    font-weight: lighter;
    font-size: x-large;
}
#btns{
    display: flex;
}
#btns1{
    text-align: center;
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color: white;
    background-color: rgb(70, 184, 222);
}
#btns1:hover{
    background-color: rgb(27, 118, 222);
}
#btns2{
    text-align: center;
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color:  rgb(70, 184, 222);
    border: 1px solid  rgb(70, 184, 222);
}
#btns2:hover{
    background-color: lightblue;
    color: rgb(26, 75, 91);
    border-color: rgb(26, 75, 91); ;
}
#page2{
    width: 100%;
    height: 87%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.Card{
    height: 300px;
    width: 200px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    
}

#Card1 h2{
    color: rgb(2, 2, 71);
    font-weight: 200;
    font-size: 20px;
    margin: 20px 10px;
    
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    
}
#Card1 p{
    font-weight: 85 ;
    margin:20px 10px ;
    font-size: 12px;
    margin: 20px 10px;
    
}
#Card1 u{
    font-weight: 200;
    font-size: 17px;
    margin: 20px 10px;
    color: rgb(0, 0, 77);

}

#Card2 h2{
     color: rgb(2, 2, 71);
    font-weight: 200;
    font-size: 20px;
    margin: 20px 10px;

    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    
}
#Card2 p{
      font-weight: 85 ;
    margin:20px 10px ;
    font-size: 12px;
    margin: 20px 10px;
    
}
#Card2 u{
     font-weight: 200;
    font-size: 17px;
    margin: 20px 10px;
    color: rgb(0, 0, 77);
    
}
#Card3 h2{
     color: rgb(2, 2, 71);
    font-weight: 200;
    font-size: 20px;
    margin: 20px 10px;

    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    
}
#Card3 p{
      font-weight: 85 ;
    margin:20px 10px ;
    font-size: 12px;
    margin: 20px 10px;
    
}
#Card3 u{
    font-weight: 200;
    font-size: 17px;
    margin: 20px 10px;
    color: rgb(0, 0, 77);
    
}
#Card4 h2{
         color: rgb(2, 2, 71);
    font-weight: 200;
    font-size: 20px;
    margin: 20px 10px;

    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    
}
#Card4 p{
      font-weight: 85 ;
    margin:20px 10px ;
    font-size: 12px;
    margin: 20px 10px;
    
}
#Card4 u{
     font-weight: 200;
    font-size: 17px;
    margin: 20px 10px;
    color: rgb(0, 0, 77);
    
}
.button{
     height: 40px;
    width: 100px;
    border: 1px solid black;
}


#button1{
    color: rgb(2, 2, 71);
    font-weight: 200;
    font-size: 20px;
    margin: 20px 10px;
    border-color: rgb(1, 1, 53);
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
}
#button1:hover{
    background-color: lightblue;
}

#page2{
    width: 100%;
    height: 87%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
#Cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.button{
    height: 40px;
    padding: 10px 20px;
    border: 1px solid rgb(5, 5, 62);
    cursor: pointer;
}
