*{
    margin:0%;
    padding:0%;
}
html,body{
    width:100%;
    height:100%;
}
body{
    background-color: rgb(247, 194, 125);
    display:flex;
    align-items:center;
    justify-content: center;
}
div{
    text-align: center;
    width: 20%;
    height: 20%; 
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-style: oblique;
}
#box1{
    background-color: rgb(121, 253, 209);
   
}
#box2{
    background-color: rgb(108, 132, 0);
   
}
