*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;

}
.colorFont{
    color: blue;
    text-align: center;
    font-weight: bolder;
}
h2{
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
}