*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(0, 255, 213);
    display: flex;
}
div{
    height: 200px;
    width: 200px;
}
#box1{
    background-color: cornflowerblue;
}
#box2{
    background-color: blueviolet;
}
#box3{
    background-color: cadetblue ;
}
