 h1{
    width: 60%;
    background-color:cadetblue;
       color: rgb(55, 0, 255); 
        text-align: center;
         font-family: Georgia, 'Times New Roman', Times, serif;
        }
        body{background-color: rgb(198, 210, 30); 
        }
        p{background-color: aqua;}