*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}
.card{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 230px;
    border:1px solid salmon;
    border-radius: 20px;
    overflow: hidden;
}
#card1{
    z-index: 4;
}
#card2{
    rotate: -7deg;
    z-index: 3;
}
#card2:hover{
    z-index: 10;
}
#card3{
    rotate: -14deg;
    z-index: 2;
}
#card3:hover{
    z-index: 20;
}
#card4{
    rotate: -21deg;
    z-index: 1;
}
#card4:hover{
    z-index: 30;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}